[submodule "cargo_author"]
	path = cargo_author
	url = https://gitlab.com/crates.rs/cargo_author.git
[submodule "cargo_toml"]
	path = cargo_toml
	url = https://gitlab.com/crates.rs/cargo_toml.git
[submodule "style"]
	path = style
	url = https://gitlab.com/crates.rs/style.git
[submodule "lazyonce"]
	path = lazyonce
	url = https://gitlab.com/crates.rs/lazyonce.git
[submodule "render_readme"]
	path = render_readme
	url = https://gitlab.com/crates.rs/render_readme.git
[submodule "data/index"]
	path = data/index
	url = https://github.com/rust-lang/crates.io-index.git
