@use kitchen_sink::CompatByCrateVersion;

@(table: (Vec<u16>, CompatByCrateVersion))

<h1>test</h1>

<table>
    <thead><tr><th></th>
        @for rustc_ver in table.0.iter().rev() {
            <th>1.@rustc_ver</th>
        }
    </tr></thead>
    <tbody>
        @for (v, row) in table.1.iter().rev() {
            <tr>
                <th>@v</th>
                @for rustc_ver in table.0.iter().rev().copied() {
                    <td>
                        @if rustc_ver >= row.oldest_ok.unwrap_or(9999) && rustc_ver <= row.newest_bad.unwrap_or(0) {
                            ?
                        } else {
                            @if rustc_ver == row.oldest_ok.unwrap_or(9999) {
                                ✅
                            }
                            @if rustc_ver > row.oldest_ok.unwrap_or(9999) {
                                ✓
                            }
                            @if rustc_ver == row.newest_bad.unwrap_or(0) {
                                ❌
                            }
                            @if rustc_ver < row.newest_bad.unwrap_or(0) {
                                𐄂
                            }
                        }
                    </td>
               }
            </tr>
        }
    </tbody>
</table>
