@use crate::Urler;
@use crate::global_stats::Histogram;
@use crate::global_stats::CallbackFn;

@(hs: &Histogram, max_examples: usize, url: &Urler, url_callback: CallbackFn)
<table class="histogram">
    <tr>
        @for l in &hs.bucket_labels {
            <th width="@(100. / hs.bucket_labels.len() as f64)%">
                @l
            </th>
        }
    </tr>
    <tr class="bars">
        @for b in &hs.buckets {
            <td>
                @if hs.perc(b.count) <= 19.0 {@b.count}
                <div style="height: @hs.perc(b.count)px;">@if hs.perc(b.count) > 19.0 {@b.count}</div>
            </td>
        }
    </tr>
    @if max_examples > 0 { <tr>
        @for b in &hs.buckets {
            <td>
                @for name in b.examples.iter().take(max_examples) {
                    <a href="@url_callback(url, &name)">@name</a>
                }
            </td>
        }
    </tr> }
</table>
