@use crate::templates::base;
@use crate::Page;
@use kitchen_sink::RichCrateVersion;
@use crate::Urler;
@use std::sync::Arc;
@use render_readme::Renderer;

@(page: &Page, crates: &[Arc<RichCrateVersion>], url: &Urler, markup: &Renderer)

@:base(page, {
    <header id="home">
        <div class="inner-col" role="banner">
            <h1><a href="/">Lib.rs</a></h1>
            <p>Trending crates</p>
            <form role="search" id=search method="get" action="/search">
                <input autofocus placeholder="name, keywords, description" autocapitalize="off" autocorrect="off" autocomplete="off" tabindex="1" type=search name=q><button type=submit>Search</button>
            </form>
        </div>
    </header>

    <main id="trending">
        <section class="trending">
            <div class="inner-col">
                <ul>
                    @:simple_list(crates, url, markup)
                </ul>
            </div>
        </section>
        <section class="new">
            <div class="inner-col">
                <ul>
                    @:simple_list(crates, url, markup)
                </ul>
            </div>
        </section>
        <section class="updated">
            <div class="inner-col">
                <ul>
                    @:simple_list(crates, url, markup)
                </ul>
            </div>
        </section>
    </main>

    <footer>
        <div class="inner-col" role="contentinfo">
        <p><a href="/about">About the site</a>. By <a href=https://kornel.ski>kornelski</a>. (<a href="https://gitlab.com/crates.rs?sort=stars_desc">Source code</a>). <a href="/atom.xml">Feed</a>. <a href="https://gitlab.com/crates.rs/crates.rs/issues/new">Feedback and feature requests</a> are welcome!</p></div></footer>
})
