@use rich_crate::RichCrateVersion;

@(ver: &RichCrateVersion, build_or_dev: (bool, bool))

<span class="labels">
  @if ver.is_yanked() {
    <span title="this version has been deleted" class="yanked">yanked</span>
  }
  @if ver.is_proc_macro() {
    <span title="compiler plug-in" class="derive">proc-macro</span>
  }
  @if ver.is_sys() {
    <span title="system library" class="sys">sys</span>
  }
  @if ver.is_no_std() {
    <span title="works without std" class="no-std">no-std</span>
  }
  @if ver.is_app() {
    <span title="contains executables" class="bin">app</span>
  } else {
    @if build_or_dev.0 {
      <span title="built-time tool" class="build">build</span>
    } else {
      @if build_or_dev.1 {
        <span title="dev tool" class="dev">dev</span>
      } else {
        @if ver.has_bin() {
          <span title="contains executables" class="bin">bin</span>
        }
      }
    }
  }
</span>
