@import "critical.scss";

header#home {
    padding: 1em;
    h1 {
        margin-bottom: 0;
    }
    p {
        margin-top: 0;
    }
    a:not(:hover) {
        color: inherit;
    }
}

#home-categories {
    > div > .cat {
        border-top: 1px solid #aaa;
        border-left: 1px solid #aaa;
        display: flex;
        flex-wrap: wrap;
        @media (max-width: 640px) {
            border: 0;
            > li {
                border-right: 0;
            }
        }
        @media (min-width: 640px) {
            > li {
                width: 50%;
            }
        }
        @media (min-width: 900px) {
            > li {
                width: 33.33333%;
            }
        }
    }
    .cat {
        margin: 2em 0 0; padding: 0; list-style: none;
        > li {
            > div {
                margin: 0;
                line-height: 1.2;
                > a {
                    display: block;
                    padding: 1em 0;
                    @media (min-width: 480px) {
                        padding: 1em;
                    }
                    &:hover {
                        .desc {
                            color: black;
                        }
                        text-decoration: none;
                        h3, h4 {
                            text-decoration: underline;
                        }
                    }
                }
            }
            box-sizing: border-box;
            display: block;
            padding: 0;
            border-right: 1px solid #aaa;
            border-bottom: 1px solid #aaa;
            margin: 0 0;
        }
        h3, h4 {
            font-size: 1.25em;
            margin: 0 0.25ex 0 0;
            display: inline;
        }
        .desc {
            display: inline;
            margin-top: 0;
            font-size: 0.9em;
            color: #888;
            font-weight: 300;
        }
    }
    .crates {
        margin: 0 0 1em;
        @media (min-width: 480px) {
            margin: 0 1em 1em;
        }

        padding: 0; list-style: none;
        > li {
            a:not(:hover) {
                &:link {
                    color: #009;
                }
                &:visited {
                    color: #738;
                }
            }
            display: inline;
            &:not(:last-child)::after {
                content: ", ";
            }
        }
    }
    .more {
        white-space: nowrap;
    }
}
